/* --- Main Window Canvas --- */

.main-canvas {
    flex-grow: 1;
    flex-direction: column;
    background-color: #F4F4F4;
}

.canvas-header {
    display: flex;
    flex: 0 0 80px;
    height: 70px;
    background-color: #D6C6B2;
    border-bottom: 1px solid #333333;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.canvas-content {
    flex-grow: 1;
    overflow-y: auto;
    /* Chỉ phần nội dung bên dưới mới xuất hiện thanh cuộn */
    height: calc(100vh - 72px);
    box-sizing: border-box;
}
